* {
    margin: 0.1rem;
    padding: 0.1rem;
    box-sizing: border-box;
}

header {
    background: linear-gradient(to right, rgb(255, 189, 89), rgb(255, 158, 12))
}

nav {
    background-color: rgb(255, 226, 180);
    text-align: center;
}

body {
    background-color: rgb(255, 249, 242);
    font-family: "Elms Sans", sans-serif;
}

aside {
    background-color: rgb(255, 235, 205);
    text-align: center;
}

footer {
    text-align: center;
}

#galeria,
#hero {
    text-align: center;
    background-color: rgb(255, 235, 205);
    color: rgb(80, 50, 0);
}

#hero::first-letter {
    color: rgb(180, 108, 13);
}

#especificacoes{
    text-align: center;
}

#especificacoes img {
    text-align: center;
    max-width: 20rem;
}

#galeria img {
    text-align: center;
    max-width: 20rem;
}

#comprar {
    text-align: center;
}

.botao-comprar {
    color: rgb(75, 29, 0);
    background-color: rgb(255, 215, 170);
    border: 0.1rem solid rgb(128, 73, 0)
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    background-color: rgb(255, 235, 205);
    color: rgb(255, 111, 0);
}

h2 {
    background-color: rgb(255, 235, 205);
    color: rgb(195, 85, 0);
}

p{
    font-size: 1.1rem;
}

ul{
    font-size: 1.3rem;
}

img {
    display: flex;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagens {
    display: flex;
    justify-content: center;
}

a {
    padding: auto;
    color: rgb(255, 136, 0);
    text-decoration: none;

}

a:visited {
    color: rgb(106, 5, 114);
}

a:active {
    color: rgb(255, 0, 0);
}

table {
    border: 1px solid rgb(160, 70, 0);
    border-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: rgb(255, 226, 180);
}

h2+p {
    text-indent: 20px;
}

section>p {
    line-height: 1;
}

input[type="email"] {
    border: 0.2rem solid rgb(128, 73, 0);
}

html { scroll-behavior: smooth; }